<style type="text/css">
@import url (assets/reset.css); /*not working for some reason*/
</style>

.p
{
color: #FFF;
}

#page-body
{
	background: EEE url('http://www.vgdesk.org/web/assets/images/pagebody-bg.gif') repeat left top;
	top: 30px;
	height: auto;
	bottom: auto;
	
}

#header
{
	background: #CCC url('assets/images/header-bg.gif'); /*something is messing up with these too*/
	background-repeat: repeat-x;
	width: 100%;
	height: 30px;
}

#footer
{
	background: #CCC url('assets/images/footer-bg.gif');
	background-repeat: repeat-x;
	width: 100%;
	height: 30px;
	position: absolute;
	top: auto;
	bottom: 0;
	
}

.HeaderButton
{
	display: inline;
}
