@import url('reset.css');
@import url(http://fonts.googleapis.com/css?family=Aldrich);
@import url(http://fonts.googleapis.com/css?family=Lato);

/* Universal and home page view */

.p
{
color: #FFF;
}

.page-script
{
	display:none;
}

body
{
	background: #EEE url('../images/wallpaper-test.jpg');
	height:100%;
	width:100%;
}
.grayscale
{
	width:100%;
	height:100%;
	background: rgba(255,255,255,0.2);
	position:absolute;
}

#page-body
{
	height:auto;
	width:auto;
	top:60px;
	bottom:60px;
	position:absolute;
	padding:10px;

	
}

.page-body-header
{
	position: fixed;
	top: 30px;
	bottom: 30px;
}
img#logo
{
	cursor:crosshair; 
	height:30px;
}

.page-body-no-header
{
	position: fixed;
	width:100%
	height:auto;
	top: 0px;
	bottom: 0px;
}
.avatar-border
{
	border:3px rbga(0,0,0,0.4);
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-box-shadow:
		0px 0px 4px rgba(0,0,0,0.5);
	-webkit-box-shadow:
		0px 0px 4px rgba(0,0,0,0.5);
	margin:10px;
}

#header
{
	/*background: #CCC url('../images/header-bg.gif');*/
	/*
	background: -moz-linear-gradient(
		top,
		rgba(0,0,0,0.8) 0%,
		rgba(255,255,255,0.7));
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(rgba(100,100,100,1)),
		to(rgba(0,0,0,1)));
	*/
	background: rgba(0,0,0,0.4);
	background-repeat: repeat-x;
	width: 100%;
	height: 60px;
	position: relative;
	vertical-align:center;
	/* border-bottom:1px solid #666; */
}

#footer
{
	/*
	background: #CCC url('../images/footer-bg.gif');
	background-repeat: repeat-x;
	*/
	background: rgba(0,0,0,0.4);
	width: 100%;
	height: 60px;
	position: absolute;
	top: auto;
	bottom: 0;
	overflow: hidden;
	display:block;
}

a
{
	text-decoration: none;
	color: #FFF;
}

a:hover
{
	color: #febf01;
	text-shadow: 1px 1px 2px rgba(255,116,0,0.5);
}

.header-button
{
	display: inline;
	color: #FFF;
	font-family: 'Lato', sans-serif;
	font-size: 16pt;
	text-shadow:0px 0px 4px rgba(0,0,0,1);
	font-weight: bold;
	font-variant: smallcaps;
	margin: 20px;
	position: relative;
	line-height:60px;
}

#logo
{
	display: inline;
	width: auto;
	height: auto;
}

.section
{
	font-family: 'Lato', sans-serif;
	font-size:11pt;
	color: #666;
	/*
	background: -moz-linear-gradient(
		top,
		rgba(255,255,255,0.6) 0%,
		rgba(255,255,255,0.6));
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(rgba(255,255,255,0.4)),
		to(rgba(255,255,255,0.4)));
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff99, endColorstr=#C8C8C899); /* IE7 and IE8 fix for gradient backgrounds, but at least it has an alpha channel */
	background: rgba(0,0,0,0.4);
		
		/*
	-moz-box-shadow:
		0px 0px 4px rgba(0,0,0,0.5);
	-webkit-box-shadow:
		0px 0px 4px rgba(0,0,0,0.5);
		*/
	/* border: 1px solid rgba(0,0,0,0.6); */

	text-shadow:1px 1px 0px rgba(255,255,255,0.4);
}

#user-box
{
	color: #FFF;
	float:right;
	line-height:30px;
	padding-right:10px;
}


/* Overview */
.log-avatar
{
	display:inline;
	position:absolute;
	top:0px;
}

span.clock-text
{
	font-size:12pt;
	display:block;
	padding:5px;
	color:#FFF;
	text-shadow:1px 1px 0px rgba(0,0,0,0.4);
	float:right;
	text-align:right;
	line-height:20px;
	vertical-align:middle;
}

.vertical-column
{
	width:310px;
	height:100%;
	float:left;
	margin-right:10px;
	overflow:hidden;
}

.column-title
{
	position:absolute;
	top:0px;
	bottom:0px;
	margin:auto;
	height:30px;
}

.section-header
{
	font-family: 'Lato', sans-serif;
	font-size:12pt;
	font-weight:bold;
	color: #FFF;
	/*
	background: -moz-linear-gradient(
		top,
		rgba(200,200,200,0.6) 0%,
		rgba(100,100,100,0.6));
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(rgba(200,200,200,0.6)),
		to(rgba(100,100,100,0.6)));
	*/
	background:rgba(0,0,0,0.5);
	/*	
	-moz-border-top-right-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	-moz-border-top-left-radius: 3px;
	-webkit-border-top-left-radius: 3px;
	*/
	margin: 0px;
	text-shadow:1px 1px 0px rgba(0,0,0,0.4);
	text-align:center;
	height:30px;
	border-bottom:1px solid rgba(255,255,255,0);
	width:100%;
	display:block;
	position:relative;
	line-height:30px;
	text-align:center;

}
.section-filter
{
	font-family: 'Lato', sans-serif;
	font-weight:normal;
	font-size:10pt;
	color:#FFF;
	width:100%;
	height:30px;
	background:rgba(0,0,0,0.4);
	position:relative;
	border-bottom:1px solid rgba(255,255,255,0.6);
	line-height:30px;
}

.section-header>span
{
	vertical-align:middle
	display:inline-block;
}

div.log-entry
{
	cursor:pointer;
	font-family: 'Lato', sans-serif;
	font-size:10pt;
	color: #333;
	padding:0px;
	margin:0px;
	/*
	background: -moz-linear-gradient(
		top,
		rgba(255,255,255,0.9) 0%,
		rgba(200,200,200,0.9));
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(rgba(255,255,255,1)),
		to(rgba(200,200,200,1)));
	*/
	text-shadow:1px 1px 0px rgba(255,255,255,0.4);
	width:100%;
	height:auto;
	min-height:70px;
	border-bottom:1px solid rgba(0,0,0,0.4);
	position:relative;
}

span.log-title
{
	font-size: 10pt;
	font-weight:bold;
}

div.log-content
{
	padding:10px;
	margin-left:70px;
	position:relative;
	display:block;
	clear:both;
	min-height:50px;
	
}

div.log-data
{
	font-size:10px;
	text-align:right;
	position:absolute;
	bottom:10px;
	right:10px;
	
}

div.color-orange
{
	background: -moz-linear-gradient(
		top,
		rgba(255,100,0,0.8) 0%,
		rgba(225,70,0,0.8));
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(rgba(255,100,0,0.8)),
		to(rgba(225,70,0,0.8)));
}
div.color-teal
{
	background: -moz-linear-gradient(
		top,
		rgba(51,255,255,0.8) 0%,
		rgba(21,225,225,0.8));
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(rgba(51,255,255,0.8)),
		to(rgba(21,225,225,0.8)));
}
div.color-green
{
	background: -moz-linear-gradient(
		top,
		rgba(0,204,51,0.8) 0%,
		rgba(0,174,21,0.8));
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(rgba(0,204,51,0.8)),
		to(rgba(0,174,21,0.8)));
}
div.color-purple
{
	background: -moz-linear-gradient(
		top,
		rgba(153,102,204,0.8) 0%,
		rgba(123,72,174,0.8));
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(rgba(153,102,204,0.8)),
		to(rgba(123,72,174,0.8)));
}
div.color-black
{
	background: -moz-linear-gradient(
		top,
		rgba(80,80,80,0.8) 0%,
		rgba(50,50,50,0.8));
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(rgba(80,80,80,0.8)),
		to(rgba(50,50,50,0.8)));
}

/* Login/Registration Page CSS */

.section#login-box, .section#reg-box
{
	width:400px;
	height:auto;
	position:absolute;
	left:0px;
	right:0px;
	margin:auto;
}

#login-box
{
	display:block;
}

#login-body
{
	/*background: #EEE url('../images/pagebody-bg.gif');*/
	height:100%;
	width:100%;
	text-align:center;
	position:fixed;
}

#login-forms, #reg-forms
{
	font-size: 10pt;
	text-align:left;
	color:#FFF;
	display:block;
	padding:10px;
}

/*
#login-title
{
	font-size: 18pt;
	text-align:left;
	color:#FFF;
}
*/
input
{
	border:1px solid rgba(0,0,0,0.4);
	background: rgba(0,0,0,0.4);
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	text-shadow:none;
	color:#FFF;
}
input[type="submit"], input[type="button"]
{
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	padding:5px;
	margin:10px;
	float:right;
	display:block;
}

#reg-forms input[type="text"], #login-forms input[type="text"], #reg-forms input[type="password"], #login-forms input[type="password"]
{
	display:block;
	width:236px;
	height:20px;
	margin:10px;
}

#username-input
{
	
}

label
{
	color:rgba(255,255,255,1);
	text-shadow:1px 1px 1px rgba(0,0,0,0.4);
}

img.project-image
{
	width:100px;
	height:100px;
	display:block;
	float:left;
}
