@import url('reset.css');
@import url(http://fonts.googleapis.com/css?family=Kameron:700);


.p
{
color: #FFF;
}

#page-body
{
	background: #EEE url('../images/pagebody-bg.gif');
	height: auto;
	width:100%;
	
}

.page-body-header
{
	position: fixed;
	top: 30px;
	bottom: 30px;
}

.page-body-no-header
{
	position: fixed;
	top: 0px;
	bottom: 0px;
}

#header
{
	background: #CCC url('../images/header-bg.gif');
	background-repeat: repeat-x;
	width: 100%;
	height: 30px;
	position: relative;
}

#footer
{
	background: #CCC url('../images/footer-bg.gif');
	background-repeat: repeat-x;
	width: 100%;
	height: 30px;
	position: absolute;
	top: auto;
	bottom: 0;
	overflow: hidden;
}

a
{
	text-decoration: none;
	color: #FFF;
}

a:hover
{
	color: #febf01;
	text-shadow: 1px 1px 0px #ff7400;
}

.header-button
{
	display: inline;
	color: #FFF;
	font-family: Kameron;
	font-size: 18pt;
	text-shadow: 1px 1px 0px #CCC;
	font-weight: bold;
	font-variant: smallcaps;
	margin-left: 30px;
	position: relative;
	bottom: 8px;
}

#logo
{
	display: inline;
	width: auto;
	height: auto;
}
